# Cổng chạy ứng dụng (Mặc định: 3000)
PORT=3000

# Chuỗi kết nối database MongoDB (Local hoặc MongoDB Atlas)
# Ví dụ local: mongodb://localhost:27017/courtmate
# Ví dụ Atlas: mongodb://srv://<username>:<password>@cluster0.xxxx.mongodb.net/courtmate?retryWrites=true&w=majority
MONGODB_URI=mongodb://localhost:27017/courtmate

# Khóa bí mật dùng để ký mã hóa token JWT (Cần thay đổi bằng một chuỗi bảo mật ở production)
JWT_SECRET=courtmate-secret-key-development

# Cấu hình lưu trữ ảnh Cloudinary
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET

# Cấu hình đăng nhập bằng Google (Google Auth Client ID)
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
hoangduan06032005_db_user
hoangduan06032005